/*
/* CAROUSEL
/*-----------------------------------------------------*/


/******************************************************************
 Carousel widths are set assuming desktop-wide breakpoint (1280px).
******************************************************************/


/* base carousel styles */

.carousel {
	width: 100%;
	height: auto;
	margin: 0 auto 1.0em auto;
	position: relative;
}

	.carousel .arrow-nav {
		position: absolute;
		top: calc(50% - 20px);
	}
	.carousel .arrow-nav.nav-prev { left: -40px; }
	.carousel .arrow-nav.nav-next { right: -40px; }

	.carousel .outer-mask {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		left: 0;
		top: 0;
	}
	.carousel .outer-mask > .inner-track {
		display: block;
		width: calc(100% * 10); /*assumes 10 items, JS will override*/
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
	.carousel .outer-mask > .inner-track:after {
		/*clearfix*/
		content: "";
		display: block;
		clear: both;
	}
	.carousel .outer-mask > .inner-track > article {
		/*set width and height with specific carousel class*/
		float: left;
		position: relative;
	}


/* one main item visible */

.main-carousel {
	width: 1120px;
	height: 630px;
}
	/*.main-carousel .outer-mask {}*/
	/*.main-carousel .outer-mask > .inner-track {}*/
	.main-carousel .outer-mask > .inner-track > article {
		width: 1120px;
		height: 630px;
	}

	.main-carousel article > .media-container {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
	}
	.main-carousel article > .media-container > img {
		display: block;
		width: 100%;
		height: 100%;
	}
	.main-carousel article > .media-info {
		color: #fff;
		width: calc(100% - 40px);
		min-height: 60px;
		background: rgba(0,0,0,0.6);
		padding: 10px 20px;
		position: absolute;
		left: 20px;
		right: 20px;
		bottom: 20px;
		opacity: 0;
		transition: opacity 0.2s ease;
	}
	.main-carousel article > .media-info p {
		margin: 0;
	}
	.main-carousel article > .media-info .counter {
		font-style: italic;
		float: right;
	}
	.main-carousel article.active > .media-info {
		opacity: 1.0;
	}


/* five thumb items visible */

.thumb-carousel {
	width: 1120px;
	height: 124px;
}
	/*.thumb-carousel .outer-mask {}*/
	/*.thumb-carousel .outer-mask > .inner-track {}*/
	.thumb-carousel .outer-mask > .inner-track > article {
		width: 224px;
		height: 124px;
		padding: 0 2px;
	}

	.thumb-carousel article > a {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
	}
	.thumb-carousel article > a:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		border: 4px solid transparent;
		position: absolute;
		left: 0;
		top: 0;
	}
	.thumb-carousel article > a:hover:after,
	.thumb-carousel article > a:focus:after {
		border-color: #6699cc;
	}
	.thumb-carousel article > a > img {
		display: block;
		width: 100%;
		height: 100%;
	}
